header {
    background: #14274a;
    height: 465px;
}

nav {
    z-index: 1;
    @extend %max;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    .logo {
        position: relative;
        background: $ohra;
        border-radius: 50px;
        padding: 40px 35px;
        display: flex;
        flex-flow: column;
        align-items: center;
        h3 {
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0.15em;
            color: #14274a;
        }
        h5 {
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 0.6em;
            color: #14274a;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 50px;
            height: 50px;
            background: $ohra;
        }
        &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            height: 50px;
            background: $ohra;
        }
    }
    .burger {
        display: none;
    }
    ul {
        display: flex;
        align-items: center;
        gap: 70px;
        li {
            @include slide;
            &:not(:nth-child(5)) {
                @include a-hover;
            }
            &:not(:nth-child(5)):hover::before {
                width: 100%;
            }
        }
        li a {
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            color: #ffffff;
        }
        li:nth-child(5) {
            a {
                font-weight: 700;
                font-size: 22px;
                line-height: 30px;
                color: #ffffff;
                border-bottom: 2px solid white;
            }
        }
    }
}
.header-main {
    margin: 60px auto 0;
    display: flex;
    justify-content: center;
    h1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        color: #ffffff;
    }
}

// ===========================================================

@media screen and (width < 1660px) {
    header {
        height: 420px;
    }
    nav {
        @include max_1660;
        .logo {
            padding: 25px;
            h3 {
                z-index: 5;
                font-size: 26px;
                line-height: 30px;
            }
            h5 {
                font-size: 14px;
            }
            &:after {
                width: 45px;
                height: 45px;
                z-index: 1;
            }
            &:before {
                width: 45px;
                height: 45px;
                z-index: 1;
            }
        }
        ul {
            gap: 50px;
            li a {
                font-size: 14px;
            }
            li:nth-child(5) {
                a {
                    font-size: 14px;
                    border-bottom: 2px solid white;
                }
            }
        }
    }
    .header-main {
        margin: 90px auto 0;
        display: flex;
        justify-content: center;
        h1 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 98px;
            color: #ffffff;
        }
    }
}

// ===========================================================

@media screen and (width < 1100px) {
    header {
        height: 330px;
    }
    nav {
        @include max_1100;
        .logo {
            padding: 15px 10px;
            background: transparent;
            h3 {
                color: white;
                z-index: 5;
                font-size: 20px;
                line-height: 20px;
            }
            h5 {
                color: white;
                font-size: 10px;
            }
            &:after {
                width: 0;
                height: 0;
                z-index: 1;
            }
            &:before {
                width: 0;
                height: 0;
                z-index: 1;
            }
        }
        ul {
            gap: 30px;
            li a {
                font-size: 12px;
            }
        }
    }
    .header-main {
        margin: 55px auto 0;
        display: flex;
        justify-content: center;
        h1 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 98px;
            color: #ffffff;
        }
    }
}

// ===========================================================

@media screen and (width < 800px) {
    header {
        height: 280px;
    }
    nav {
        @include max_800;
        .logo {
            padding: 15px 10px;
            background: transparent;
            h3 {
                color: white;
                z-index: 5;
                font-size: 20px;
                line-height: 20px;
            }
            h5 {
                color: white;
                font-size: 10px;
            }
            &:after {
                width: 0;
                height: 0;
                z-index: 1;
            }
            &:before {
                width: 0;
                height: 0;
                z-index: 1;
            }
        }
        ul {
            gap: 30px;
            li a {
                font-size: 12px;
            }
            li:nth-child(5) {
                a {
                    font-size: 12px;
                    border-bottom: 1.5px solid white;
                }
            }
        }
    }
	.header-main {
        margin: 35px auto 0;
        display: flex;
        justify-content: center;
        h1 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 98px;
            color: #ffffff;
        }
    }
}

// ===========================================================

@media screen and (width < 550px) {
    header {
        height: 230px;
        padding: 20px;
    }
    nav {
        @include max_550;
        .logo {
            padding: 10px;
            background: transparent;
            h3 {
                color: white;
                z-index: 5;
                font-size: 16px;
                line-height: 16px;
            }
            h5 {
                color: white;
                font-size: 8px;
            }
            &:after {
                width: 0;
                height: 0;
                z-index: 1;
            }
            &:before {
                width: 0;
                height: 0;
                z-index: 1;
            }
        }
        ul {
            display: none;
        }
        .burger {
            display: block;
            img {
                width: 35px;
                height: 35px;
            }
        }
    }
    .header-main {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        h1 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 98px;
            color: #ffffff;
        }
    }
}
