main{
	@extend %max;
	margin: 0 auto;
	.text{
		margin: 100px 0 80px 0;
		display: flex;
		flex-flow: column;
		align-items: center;
		gap: 40px;
		h2{
			font-weight: 700;
			font-size: 60px;
			line-height: 72px;
			letter-spacing: 0.05em;
			color: #14274A;
		}
		p{
			font-weight: 400;
			font-size: 25px;
			line-height: 30px;
			color: #14274A;
			text-align: center;
		}
	}
	.all-carts{
		display: flex;
		flex-flow: wrap;
		gap: 60px;
		justify-content: center;
		.cartF{
			cursor: pointer;
			// &:hover{
			// 	.front{
			// 		transform: perspective(900px) rotateY(-180deg);
			// 		z-index: -10;
			// 	}
			// 	.back{
			// 		transform: perspective(900px) rotateY(0deg);
			// 		z-index: 10;
			// 	}
			// }
			position: relative;
			.front{
				overflow: hidden;
				width: 600px;
				height: 400px;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				// position: relative;
				transition: transform .8s ease-in-out, z-index .8s ease-in-out;
				transform: perspective(900px) rotateY(0deg);
				img{
					border-radius: 15px;
					width: 600px;
					height: 400px;
					z-index: 10	;
				}
				span{
					display: none;
				}
				.cart-text{
					border-radius: 8px 8px 0 0;
					width: 320px;
					background: white;
					padding: 10px 40px 0;
					bottom: -1px;
					margin: auto;
					left: 0;
					right: 0;
					position: absolute;
					z-index: 1;
					p{
						white-space: nowrap;
						text-align: center;
						font-weight: 700;
						font-size: 30px;
						color: #14274A;
						padding: 0 0 5px 0;
					}
				}
			}
			.back{
				background: transparent;
				backdrop-filter: blur(10px);
				z-index: -10;
				width: 600px;
				height: 400px;
				transition: transform .8s ease-in-out, z-index .8s ease-in-out;
				transform: perspective(900px) rotateY(180deg);
				border-radius: 16px;
				// border: 2px solid #14274A;
				padding: 30px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-flow: column;
				color: white;
				.time{
					display: flex;
					flex-flow: column;
					gap: 20px;
					align-items: center;
					h3{
						font-size: 40px;
						z-index: 20;
					}
					h4{
						font-size: 30px;;
						z-index: 20;
					}
				}
				p{
					font-weight: 500;
					text-align: center;
					font-size: 24px;
					z-index: 20;
					padding: 0 20px;
					line-height: 28px;
				}
				span{
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 16px;
					z-index: 10;
					width: 600px;
					height: 400px;	
					background: rgba($color: #252525, $alpha: .3);
				}
			}
		}
	}

	.offer{
		display: flex;
		flex-flow: column;
		gap: 20px;
		margin: 110px 0 0 0;
		h2{
			font-weight: 700;
			font-size: 30px;
			line-height: 72px;
			color: #14274A;
		}
		.offer-text{
			display: flex;
			flex-flow: wrap;
			gap: 0;
			justify-content: space-between;
			p{
				color: black;
				padding: 0 0 15px 0;
				font-size: 20px;
				font-weight: 500;
			}
		}
	}
	
	.comments{
		margin: 110px 0 0 0;
		display: flex;
		justify-content: center;
		flex-flow: column;
		align-items: center;
		gap: 20px;
		h2{
			font-weight: 700;
			font-size: 50px;
			line-height: 72px;
			color: #14274A;
		}
		.comments-container{
			overflow: hidden;
			.comments-track{
				text-align: center;
				display: flex;
				flex-flow: row;
				width: 500px;
				.comment-cart{
					min-width: 500px;
					p{
						font-weight: 400;
						font-size: 24px;
						line-height: 37px;
						color: #14274A;
					}
					span{
						font-weight: 400;
						font-size: 20px;
						line-height: 30px;
						color: #14274A;
					}
				}
			}
		}
		.buttons{
			display: flex;
			align-items: center;
			gap: 20px;
			.left, .right {
				@include hover($ohra);
				padding: 10px 20px;
				font-size: 28px;
				background: $ohra;
				color: white;
				border-radius: 8px;
			}
		}
	}
}

// ===========================================================

@media screen and (width < 1660px)  {
	main{
		@include max_1660;
		.text{
			margin: 60px 0;
			gap: 0px;
			h2{
				// font-size: 40px;
				@include responsive-font(35, 25);
			}
			p{
				// font-size: 16px;
				@include responsive-font(18, 14);
				line-height: 24px;
			}
		}
		.all-carts{
			display: flex;
			flex-flow: wrap;
			gap: 60px;
			justify-content: center;
			.cartF{
				.front{
					width: 400px;
					height: 280px;
					transition: transform .8s ease-in-out, z-index .8s ease-in-out;
					transform: perspective(900px) rotateY(0deg);
					img{
						width: 400px;
						height: 280px;
					}
					.cart-text{
						width: 300px;
						padding: 10px 40px 0;
						bottom: -1px;
						p{
							font-weight: 700;
							// font-size: 24px;
							@include responsive-font(24, 14);
							padding: 0 0 5px 0;
						}
					}
				}
				.back{
					width: 400px;
					height: 280px;
					border-radius: 15px;
					transition: transform .8s ease-in-out, z-index .8s ease-in-out;
					transform: perspective(900px) rotateY(180deg);
					padding: 20px;
					.time{
						gap: 10px;
						h3{
							// font-size: 28px;
							@include responsive-font(28, 20);
							z-index: 20;
						}
						h4{
							// font-size: 22px;
							@include responsive-font(22, 16);
							z-index: 20;
						}
					}
					p{
						// font-size: 16px;
						@include responsive-font(16, 12);
						padding: 0 20px 40px;
						line-height: 20px;
					}
					span{
						width: 400px;
						height: 280px;
					}
				}
			}
		}
		.offer{
			display: flex;
			flex-flow: column;
			gap: 20px;
			margin: 110px 0 0 0;
			h2{
				font-weight: 700;
				// font-size: 30px;
				@include responsive-font(30, 22);
				line-height: 72px;
				color: #14274A;
			}
			.offer-text{
				display: flex;
				flex-flow: row;
				gap: 0;
				justify-content: space-between;
				p{
					color: black;
					padding: 0 0 15px 0;
					// font-size: 14px;
					@include responsive-font(20, 14);
					font-weight: 500;
				}
			}
		}
		.comments{
			margin: 60px 0 0 0;
			gap: 10px;
			h2{
				font-size: 36px;
				@include responsive-font(36, 20);
			}
			.comments-container{
				.comments-track{
					.comment-cart{
						p{
							// font-size: 16px;
							padding: 0;
							@include responsive-font(18, 14);
						}
						span{
							font-weight: 400;
							// font-size: 14px;
							@include responsive-font(16, 12);
							line-height: 30px;
							color: #14274A;
						}
					}
				}
			}
			.buttons{
				gap: 20px;
				padding: 10px 0 0 0;
				.left, .right {
					padding: 10px 20px;
					// font-size: 16px;
					@include responsive-font(18, 12);
					line-height: 20px;
					background: $ohra;
					color: white;
					border-radius: 8px;
				}
			}
		}
	}
}

// ===========================================================

@media screen and (width < 1100px) {
	main{
		@include max_1100;
		.text{
			margin: 40px 0;
			gap: 20px;
			h2{
				// font-size: 30px;
				line-height: 40px;
			}
			p{
				// font-size: 14px;
				line-height: 20px;
			}
		}
		.all-carts{
			display: flex;
			flex-flow: wrap;
			gap: 60px;
			justify-content: center;
			.cartF{
				.front{
					width: 300px;
					height: 180px;
					transition: transform .8s ease-in-out, z-index .8s ease-in-out;
					transform: perspective(900px) rotateY(0deg);
					img{
						width: 300px;
						height: 180px;
					}
					.cart-text{
						width: 200px;
						padding: 8px 40px 0;
						bottom: -1px;
						p{
							font-weight: 600;
							// font-size: 15px;
							padding: 0 0 5px 0;
						}
					}
				}
				.back{
					width: 300px;
					height: 180px;
					border-radius: 15px;
					transition: transform .8s ease-in-out, z-index .8s ease-in-out;
					transform: perspective(900px) rotateY(180deg);
					padding: 20px;
					.time{
						flex-flow: row;
						gap: 10px;
						h3{
							// font-size: 18px;
							z-index: 20;
						}
						h4{
							// font-size: 16px;
							z-index: 20;
						}
					}
					p{
						// font-size: 10px;
						padding: 0 20px 0;
						line-height: 16px;
					}
					span{
						width: 300px;
						height: 180px;
					}
				}
			}
		}
		
		.offer{
			display: flex;
			flex-flow: column;
			gap: 20px;
			margin: 110px 0 0 0;
			h2{
				font-weight: 700;
				// font-size: 24px;
				line-height: 72px;
				color: #14274A;
			}
			.offer-text{
				display: flex;
				flex-flow: row;
				gap: 0;
				justify-content: space-between;
				p{
					color: black;
					padding: 0 0 10px 0;
					// font-size: 12px;
					font-weight: 500;
				}
			}
		}
		.comments{
			margin: 50px 0 0 0;
			gap: 10px;
			h2{
				// font-size: 26px;
				line-height: 30px;
			}
			.comments-container{

				.comments-track{
					.comment-cart{
						p{
							// font-size: 14px;
						}
						span{
							font-weight: 400;
							// font-size: 12px;
							line-height: 24px;
							color: #14274A;
						}
					}
				}
			}
			.buttons{
				display: flex;
				align-items: center;
				gap: 20px;
				.left, .right {
					padding: 10px 20px;
					// font-size: 14x;
					background: $ohra;
					color: white;
					border-radius: 8px;
				}
			}
		}
	}
}

// ===========================================================

@media screen and (width < 800px) {
	main{
		@include max_800;
		.text{
			margin: 30px 0;
			gap: 10px;
			h2{
				// font-size: 30px;
				line-height: 40px;
			}
			p{
				// font-size: 12px;
				line-height: 20px;
			}
		}
		.all-carts{
			display: flex;
			flex-flow: wrap;
			gap: 40px;
			justify-content: center;
			.cartF{
				.front{
					width: 400px;
					height: 240px;
					transition: transform .8s ease-in-out, z-index .8s ease-in-out;
					transform: perspective(900px) rotateY(0deg);
					img{
						width: 400px;
						height: 240px;
					}
					.cart-text{
						width: 220px;
						padding: 8px 40px 0;
						bottom: -1px;
						p{
							font-weight: 600;
							// font-size: 17px;
							padding: 0 0 5px 0;
						}
					}
				}
				.back{
					width: 400px;
					height: 240px;
					transition: transform .8s ease-in-out, z-index .8s ease-in-out;
					transform: perspective(900px) rotateY(180deg);
					padding: 20px;
					border-radius: 15px;
					.time{
						flex-flow: column;
						gap: 10px;
						h3{
							// font-size: 20px;
							z-index: 20;
						}
						h4{
							// font-size: 18px;
							z-index: 20;
						}
					}
					p{
						// font-size: 12px;
						padding: 0 20px 0;
						line-height: 16px;
					}
					span{
						width: 400px;
						height: 240px;
					}
				}
			}
		}
		.offer{
			display: flex;
			flex-flow: column;
			gap: 20px;
			margin: 110px 0 0 0;
			h2{
				font-weight: 700;
				// font-size: 22px;
				line-height: 72px;
				color: #14274A;
			}
			.offer-text{
				display: flex;
				flex-flow: wrap;
				gap: 30px;
				justify-content: space-between;
				p{
					color: black;
					padding: 0 0 10px 0;
					// font-size: 12px;
					font-weight: 500;
				}
			}
		}
		.comments{
			margin: 50px 0 0 0;
			gap: 10px;
			h2{
				// font-size: 24px;
				line-height: 24px;
			}
			.comments-container{

				.comments-track{
					.comment-cart{
						p{
							// font-size: 14px;
						}
						span{
							font-weight: 400;
							// font-size: 12px;
							line-height: 14px;
							color: #14274A;
						}
					}
				}
			}
			.buttons{
				display: flex;
				align-items: center;
				gap: 20px;
				.left, .right {
					padding: 10px 20px;
					// font-size: 12px;
					background: $ohra;
					color: white;
					border-radius: 8px;
				}
			}
		}
	}
}

// ===========================================================

@media screen and (width < 550px) {
	main{
		@include max_550;
		padding: 20px;
		.text{
			margin: 10px 0 30px;
			h2{
				// font-size: 20px;
				line-height: 20px;
			}
			p{
				// font-size: 10px;
				line-height: 18px;
			}
		}
		.all-carts{
			display: flex;
			flex-flow: wrap;
			gap: 20px;
			justify-content: center;
			.cartF{
				.front{
					width: 330px;
					height: 200px;
					transition: transform .8s ease-in-out, z-index .8s ease-in-out;
					transform: perspective(900px) rotateY(0deg);
					img{
						width: 330px;
						height: 200px;
					}
					span{
						display: inline-block;
						color: white;
						position: absolute;
						margin-left: auto;
						margin-right: auto;
						left: 0;
						right: 0;
						text-align: center;
						top: 45%;
						// font-size: 28px;
						@include responsive-font(28, 20);
						font-weight: 500;
					}
					.cart-text{
						display: none;
					}
				}
				.back{
					width: 330px;
					height: 200px;
					transition: transform .8s ease-in-out, z-index .8s ease-in-out;
					transform: perspective(900px) rotateY(180deg);
					padding: 20px;
					.time{
						flex-flow: column;
						gap: 5px;
						h3{
							// font-size: 20px;
							z-index: 20;
						}
						h4{
							// font-size: 16px;
							z-index: 20;
						}
					}
					p{
						// font-size: 10px;
						padding: 0 20px 0;
						line-height: 16px;
					}
					span{
						width: 330px;
						height: 200px;
					}
				}
			}
		}
		.offer{
			display: flex;
			flex-flow: column;
			gap: 0px;
			margin: 30px 0 0 0;
			align-items: center;
			h2{
				font-weight: 700;
				// font-size: 18px;
				line-height: 72px;
				color: #14274A;
			}
			.offer-text{
				display: flex;
				flex-flow: column;
				gap: 20px;
				div{
					padding: 0 60px 0 0;
					display: flex;
					flex-flow: column;
					p{
						display: inline-block;
						color: black;
						padding: 0 0 10px 0;
						// font-size: 12px;
						font-weight: 500;
					}
				}
				.offer-first{
					padding: 0;
				}
			}
		}
		.comments{
			margin: 50px 0 0 0;
			gap: 10px;
			h2{
				// font-size: 20px;
				line-height: 18px;
				padding: 0 0 10px;
			}
			.comments-container{
				.comments-track{
					width: 350px;
					.comment-cart{
						min-width: 350px;
						p{
							// font-size: 12px;
							line-height: 18px;
							padding: 0 0 5px;
						}
						span{
							font-weight: 400;
							// font-size: 10px;
							line-height: 14px;
							color: #14274A;
						}
					}
				}
			}
			.buttons{
				margin: 0;
				display: flex;
				align-items: center;
				gap: 20px;
				.left, .right {
					padding: 8px 15px;
					// font-size: 12px;
					background: $ohra;
					color: white;
					border-radius: 8px;
				}
			}
		}
	}
}

// ===========================================================

@media screen and (width < 450px) {
	main{
		@include max_400;
		padding: 20px;
		.text{
			margin: 10px 0 30px;
			h2{
				// font-size: 20px;
				line-height: 20px;
			}
			p{
				// font-size: 10px;
				line-height: 18px;
			}
		}
		.all-carts{
			display: flex;
			flex-flow: wrap;
			gap: 20px;
			justify-content: center;
			.cartF{
				.front{
					width: 280px;
					height: 160px;
					transition: transform .8s ease-in-out, z-index .8s ease-in-out;
					transform: perspective(900px) rotateY(0deg);
					img{
						width: 280px;
						height: 160px;
					}
					span{
						// font-size: 22px;
					}
					.cart-text{
						display: none;
					}
				}
				.back{
					width: 280px;
					height: 160px;
					transition: transform .8s ease-in-out, z-index .8s ease-in-out;
					transform: perspective(900px) rotateY(180deg);
					padding: 15px 10px;
					.time{
						flex-flow: row;
						gap: 5px;
						h3{
							// font-size: 18px;
							z-index: 20;
						}
						h4{
							// font-size: 16px;
							z-index: 20;
						}
					}
					p{
						// font-size: 10px;
						padding: 0 20px 0;
						line-height: 14px;
					}
					span{
						width: 280px;
						height: 160px;
					}
				}
			}
		}
		.comments{
			margin: 50px 0 0 0;
			gap: 10px;
			h2{
				// font-size: 20px;
				line-height: 18px;
			}
			.comments-container{
				.comments-track{
					width: 300px;
					.comment-cart{
						min-width: 300px;
						p{
							// font-size: 12px;
							line-height: 16px;
							padding: 0;
						}
						span{
							font-weight: 400;
							// font-size: 11px;
							line-height: 14px;
							color: #14274A;
						}
					}
				}
			}
			.buttons{
				margin: 10px 0 0 0;
				display: flex;
				align-items: center;
				gap: 20px;
				.left, .right {
					@include hover($ohra);
					padding: 8px 15px;
					// font-size: 12px;
					background: $ohra;
					color: white;
					border-radius: 8px;
				}
			}
		}
	}
}