
main{
	@extend %max;
	margin: 150px auto;
}

.all-advantages{
	.advantage{
		.logo{
			
		}
	}
}

.main-info{
	display: flex;
	flex-flow: column;
	gap: 80px;
	.info-card{
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		.card-text{
			display: flex;
			flex-flow: row;
			align-items: center;
			.text{
				border-left: 2px solid black;
				display: flex;
				flex-flow: column;
				align-items: start;
				gap: 30px;
				padding: 0 0 0 50px;
				h2{
					font-weight: 700;
					font-size: 60px;
					line-height: 72px;
					letter-spacing: 0.02em;
					color: #14274A;
				}
				p{
					font-weight: 400;
					font-size: 25px;
					line-height: 40px;
					color: #14274A;
				}
				p.room{
					max-width: 540px;
				}
				p.facilities{
					max-width: 520px;
				}
				a{
					@include hover($ohra);
					padding: 20px 60px;
					background: $ohra;
					font-weight: 400;
					font-size: 20px;
					line-height: 24px;
					letter-spacing: 0.05em;
					color: #FFFFFF;
				}
			}
		}
		img.room{
			height: 550px;
			width: 850px;
		}
		img.facilities{
			height: 500px;
			width: 850px;
		}
	}
}